/* large tablets to 1200xp : from 1024px to  1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { 
        padding: 0 2%; 
    }

    .name_header {
        float: left;
        line-height: 4.5;
        font-size: 60%;   
        
    }
    .skills_list {
        margin-bottom: 30px !important;
    } 
}

/* small tab to large tablets : from 768px to  1023px */
@media only screen and (max-width: 1023px) {
    body {font-size: 13px;}
    section {padding-top: 60px;}
    .name_header {
        line-height: 7.5;
        font-size: 60%;  
        
    }
}

/* small phones to small tablets : from 481px to  767px */
@media only screen and (max-width: 767px) {
    
    header {
        height: 75vh;
    }

    .hero-text-box { 
        top: 40%;
    }

    .long_text {
        line-height: 23px;
    }

    .about_me_description {
        line-height: 23px !important;
        font-size: 100% !important;
    }
    .hero_image {
        width: 100%;
    }

    .sticky { 
        position: fixed;
    }

    .name_header {
        line-height: 2;
        font-size: 60%;  
        width: 10%;
        margin-top: 17px;
    }

    .sticky .name_header {
        margin-top: 7px;
    }
    
    .col{
        width: 100% !important;
    }
    .main-nav li {
        margin-top: 7px;
        margin-left: 15px;
    }

    .main-nav li a:link, 
    .main-nav li a:visited {
        font-size: 70%;
        display: block;
        border: 0;
        margin-top: 10px;
    }
    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
    }
    .main-nav {
        float: left;
    }

    .main-nav li {
        margin-top: 10px;
        display: block;
    } 
  
    /* .sticky {
        display: none;
    }

    /* -----------about me----------------- */
    #aboutme row_aboutme_devices col {
        width: 100% !important;
    }

    .about_me_img {
        height: 200px;
        margin: auto 17%
    }

    .city-image {
        width: 40%;
        margin: auto 35%;
    } 

    .users {
        width: 60%;
    }

    .project_image {
        width:80%;
        margin-left : 10%;
    }

    h2 {
        font-size: 160%;
        letter-spacing: 2px;
    }

    .project_number {
        height: 50px;
        width: 50px;
        margin-top: 0;
    }
    
    .project_content {
        text-align: center;
        line-height: 22px !important;
        font-size: 95% !important;
    } 

    .skill_content_col1 {
        width: 50% !important;
    }

    .plan-box ul {
        font-size: 100% !important;
    }

    .cert_col {
        margin-top: 5% !important;
        margin-left: 0px !important;
    }

    .contactme_form label{
        margin-left: 2%;
        font-size: 100%;
    }

    .skills_list {
        margin-bottom: 30px !important;
    } 
}

/* small phones : from 0 to 480px */
@media only screen and (max-width: 480px) {
    .about_me_img {
        margin: 0;
    }

    .project_image {
        width:300px
    }
}